.App {
  text-align: center;
}

.App-header {
  background-color: #2a65dc;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
}

.team-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.team-card p {
  margin: 5px 0;
}
